#options -indexes

RewriteEngine on

# Redirect all requests to the public folder


#RewriteCond %{request_filename} !-f
#RewriteCond %{request_filename} !-d
#RewriteRule ^(.*)$ index.php?url=$1 [QSA]

RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L]

#RewriteRule ^/friends/(.*)$ /$1 [L,R=301]
