*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    width: 100%;
    height: 100%;

}
#un{
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*verflow: hidden;*/

    background-image: url(./image/horse\ bc.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
#loged{
    display: block;
    position: absolute;
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    min-height: 93px;
    height: 10%;
    padding: 20px 100px;
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

#loged header{
    background-color: rgba(0, 0, 0, 1);
    border-bottom: 3.5px solid rgb(209, 158, 17);
    box-shadow: 0 5px 10px black;

}
.logo{
    font-size: 40px;
    color: white;
    user-select: none;
}
.navigation {
    display: flex;
    vertical-align: center;
    margin-left: auto;
}
.navigation .link{
    position: relative;
    top: 15px;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}
.navigation .link::after{
    content: '';
    position: absolute;
    top: 30px;
    left:0;
    bottom: -6px;
    width:100%;
    height:3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
.navigation .link:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-pop{

    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 50px;

}
.navigation .btnLogin-pop .submit{
    margin-left: 0px;
    left: 180px;
}
.navigation .btnLogin-pop:hover{
    background-color: white;
    color: black;
    border-color: rgb(209, 158, 17);
}
.menu{
    position: relative;
    right: -70px;
    margin-left: -30px;
    min-width: 240px;
    max-height: 50px;
    &:hover .dropdown{
        display: block;
        visibility: visible;
        transform: translateY(0);
    }
}
.menu .btnprof{
    width: 100%;
    max-height: 60px;
    text-align: left;
    vertical-align: middle;
    padding: 4px;
    border: 3px solid white;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 18px;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;

}
.menu .btnprof:hover{
    background-color: white;
    color: black;
    border-color: rgb(209, 158, 17);
    .dropdown{
        display: block;
    }
}
.menu .btnprof a{
    display: block;
    position: relative;
    left: 55px;
    top: -32px;


}
.menu .btnprof .profimg{
    width:42px;
    height: 42px;
    position: relative;

    left: 0px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 25px;
    
}
.menu .dropdown{
    width: 100%;
    border: 2px solid black;
    background-color: white;
    position:relative; 
    padding: 5px;
    border-radius: 15px;
    transform: translateY(-1em);
    transition: transform .5s;
    visibility: hidden;
}
.menu .dropdown {
    position: relative;
    left: 0px;
    padding: 0px;
}
.menu .dropdown a{
    text-decoration: none;
    padding: 8em;
    color: black;
    display: flex;
    border: 2px solid black;
    margin: 10px 6px 4px 6px;
    max-height: 55px;  
    font-size: 16px;
    border-radius: 10px;
    padding: 15px;  
}
.menu .dropdown a .icon{
    position: relative;
    /*border: 2px solid black;*/
    border-radius: 5px;
    width: 40px;
    height: 40px;
    top: -10px;
    left: -10px;
}
.menu .dropdown a .profimg{
    position: relative;
    border: 2px solid black;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    top: -10px;
    left: -10px;
}
header .plogo {
    box-decoration-break: unset;
    position:absolute;
    width:  60px;
    height: 60px;
    left:   30px;
}
header .profile{
    position: relative;
}
header .aeye{
    position: relative;
    width: 30px;
    height: 30px;
    left: -45px;
    top: 10px;
}
header .aeye .eye{
    width: 30px;
    height: 30px;
}
header form .text{
    margin: 5px;
    margin-left: 0px;
    padding: 10px;
    width: 160px;
    height: 35px;
    border-radius: 7px;
    border: 1.5px solid rgba(0,0,0,0.50);
}
header form .text:focus{
    outline: none;
}
/*header end*/
#un .wrapper{
    position: relative;
    background: transparent;
    border: 1px solid black;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,0, 0.5);
}
.login{
    width:100%;
    height:100%;
    max-width: 360px;
    max-height: 400px;
}
.form-box{
    padding: 30px;
    
}
.form-box h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 40px;
}


.form-box form{
    padding: 60px;
    padding-left: 0px;
    align-items: 10px;
}
.form-box form .error{
    position: absolute;
    font-weight: unset;
    font-size: 14px;
    top: 90px;
    left: 37.5px;
    background-color: rgba(100, 0, 0, 1);
    color: red;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    width: 275px;
    

}
.form-box form .d-done{
    display: none;
}

.form-box form .text{
    margin: 5px;
    margin-left: 20px;
    padding: 10px;
    width: 250px;
    height: 30px;
    border-radius: 7px;
    border: 1.5px solid rgba(0,0,0,0.50);
}
.form-box form .text{
    outline: none;
}



.form-box form #dpass #slide{
    position: absolute;
    top:250px;
    margin-left: 0;
    width: 250px;
    height: 3px;
}

.form-box form #dpass #slidetext{
    top: 250px;
    width: 250px;
    position: absolute;
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
}

form .sub{
    margin: 5px;
    margin-left: 180px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: none;
    width: 90px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid white;
}
form .sub:hover{
    background-color: white;
    color: black;
    border-color: rgb(209, 158, 17);
}

.form-box form .spanbox{
    text-shadow: 2px 2px 5px black;
    padding: 5px;
    border-radius: 7px;
    width: 300px;
}
.form-box form span{
    color:white;
    font-weight: bold;
}
.form-box form a{
    text-decoration: none;
    color:white;
    font-weight: bold;
}
.form-box form a:hover{
    background-color: white;
    padding: 4px;
    color:black;
    font-weight:400;
    border:1.8px solid rgb(209, 158, 17);
    text-shadow: 0px 0px 0px black;
    border-radius: 5px;
}
.form-box form a .eye{
    width: 30px;
    height: 30px;
}
.form-box form .aeye {
    box-decoration-break: unset;
    position:absolute;
    width: 30px;
    height: 30px;
    left: 260px;
    top: 180px;
    border: 0px;
}
.form-box form .aeye:hover {
    background: none;
    border: unset;
    padding: 0;
}
/* password reset*/
.password_reset1{
    display: flex;
    width:100%;
    height:100%;
    max-width: 605px;
    min-height: 300px;
}
.password_reset1 h1{
    font-size: 34px;
}
.password_reset1 form{
    padding-top: 30px;
}
.password_reset1 #dpass{
    padding-left: 2.5px;
    margin-left: 17.5px;
    width: 260px;
    height: 60px;
    border-radius: 7px;
}
.password_reset1 .form-box form #dpass .text{
    margin-left: 2.5px;
    width: 250px;
    height: 30px;
    border-radius: 7px;
    border: 1.5px solid rgba(0,0,0,0.50);

}
.password_reset1 .form-box form #dpass #slide{
    position: absolute;
    top:132px;
}
.password_reset1 .form-box form #dpass #slidetext{
    top:132px;
}
.password_reset1 form #eyea{
    left: 260px;
    top: 104px;
}
.password_reset1 form #eyeb{
    left: 260px;
    top: 164px;
}

.password_reset1 #conditions{
    position:absolute;
    width: 270px;
    padding-top: 10px; 
    padding-bottom: 9px;
    top: 100px;
    left: 310px;
    color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
}
.password_reset1 #conditions p{
    display: flex;
    background-color: rgba(140, 0, 0, 0.75);
    border: 2px solid red;
    color: red;
    height: 40px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 5%;
    border-radius: 5px;
    padding: auto;
    padding-left: 12px;
    padding-top: 2px;
    vertical-align: middle;

    font-size: 14px;
}
.password_reset1 #conditions p a{
    font-size: 14px;
}
.password_reset1 #conditions #check{
    margin-top: 20px;
    padding: 0;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 10px;
    position: relative;
    font-size: 13px;
    width: 90%;
    height: 50px;
    background-color: black;
}
.password_reset1 #conditions #check a{

    font-size: 13px;
    font-weight: bold;
    height: 20px;

}

#reset:disabled,
#reset[disabled]{
    margin-left: 180px;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    background: none;
    border-radius: 7px;
    border: 2px solid grey;
}
.password_reset2{
    width:100%;
    height:100%;
    max-width: 360px;
    max-height: 210px;
}
.password_reset2 h1{
    text-align: left;
    font-size: 30px;
}
.password_reset2 form{
    padding-top: 25px;
}
/* signup page*/
.signup{
    width:100%;
    height:100%;
    max-width: 605px;
    max-height: 440px;
}
.signup h1{
    font-size: 40px;
}

.signup form .text{
    margin-left: 0px;
}

.signup form #signup{
    margin-left: 160px;
}
.signup form #eyea{
    left: 240px;
    top: 220px;
}
.signup form #eyeb{
    left: 240px;
    top: 280px;
}
.signup #dpass{
    margin-left: -2.5px;
    width: 255px;
    height: 60px;
    border-radius: 7px;
}
.signup .form-box form #dpass .text{
    margin-left: 2.5px;
    width: 250px;
    height: 30px;
    border-radius: 7px;
    border: 1.5px solid rgba(0,0,0,0.50);

}
.signup #conditions{
    position:absolute;
    width: 270px;
    padding-top: 10px; 
    padding-bottom: 9px;
    top: 140px;
    left: 310px;
    color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
}
.signup #conditions p{
    display: flex;
    background-color: rgba(140, 0, 0, 0.75);
    border: 2px solid red;
    color: red;
    height: 40px;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 5%;
    border-radius: 5px;
    padding: auto;
    padding-left: 12px;
    padding-top: 2px;
    vertical-align: middle;

    font-size: 14px;
}
.signup #conditions p a{
    font-size: 14px;
}
.signup #conditions #check{
    margin-top: 20px;
    padding: 0;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 10px;
    position: relative;
    font-size: 13px;
    width: 90%;
    height: 50px;
    background-color: black;
}
.signup #conditions #check a{

    font-size: 13px;
    font-weight: bold;
    height: 20px;

}

#signup:disabled,
#signup[disabled]{
    margin-left: 160px;
    color: grey;
    font-size: 14px;
    font-weight: bold;
    background: none;
    border-radius: 7px;
    border: 2px solid grey;
}
#un .wrapper .form-box button{
    border: 0px;
    background: rgba(0,0,0,0);
}



.profimg{
    border-radius: 50%;
    overflow:hidden;
    justify-content: center;
    align-items: center;
}
.profimg img{
    height:100%;
}
#loged .sites{
    display: flex;
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 98%;
    padding-top: 110px;
    
}

/* chat site*/
#chatsite{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
#flist{
    display: block;
    width: 30%;
    height: 95%;
    padding: 10px;
    margin: 10px;
    min-width: 300px;
    max-width: 450px;
    background-color: rgba(209, 158, 17,0.8);
    border-radius: 10px;
}
#flist form{
    margin: 20px 0;
    min-width: 280px;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 form .searchtxt{
    position: relative;
    height: 42px;
    width: calc(100% - 100px);
    border: 1px solid black;
    padding: 0 13px;
    margin-left: 10px;
    margin-right: 0;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    outline: none;

}
form .searchtxt:focus{
    outline: none;

}

form #but{
    width: 75px;
    height: 42px;
    color: white;
    background-color: #333;
    border-radius: 0 10px 10px 0;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 0px;
}
.list{
    position: relative;
    padding:10px;
    overflow-y: auto;
    max-height: 85%;
    
}
#flist .list::-webkit-scrollbar{
    width:0px;
}
.list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    background: white;
    padding: 6.5px;
    padding-right: 20px;
    border-radius: 40px;
    margin-top: 10px;
    border: 3.5px solid white ;

}
.list a:hover{
    background-color: rgba(0,0,0,0.27);
    color: white;
    & .content p{
        color:rgb(255, 193, 22);
    }
}

.list a .content {
    display: flex;
    align-items: center;
}
.list a .content span{
    font-size: 18px;
    font-weight: 400;
}
.list a .content p{
    font-size: 13px;
    color: gray;
}

.list a .content img{
    border-radius: 50%;
    border: 2px solid black;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}



#chat{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 95%;
    padding: 10px;
    margin: 10px;
    margin-left: 0;
    min-width: 500px;
    border: 2px solid black;
    border-radius: 10px;

}
#chat #header{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 3.5px solid rgba(0, 0, 0, 0.521);
    border-radius: 5px;

}
#chat #header img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 2px solid black;
    margin-right: 10px;
}
#chat #header span{
    font-size: 20px;
    font-weight: 500;
}
#chat #header span p{
    font-size: 14px;
    color: gray;
}

#privmessages{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    margin-top: auto;
    padding: 10px 30px 20px 30px;
    overflow-y:auto;
    overflow-x: hidden;

}
#privmessages::-webkit-scrollbar{
    width:0px;
}
.mes .details p{
    margin-bottom: 20px;
    word-wrap:break-word;
    
    padding: 10px;

}

.outgoing .details{
    position: relative;
    display: flex;
    padding-left: 35%;

}
.outgoing .details p{
    background-color: #333;
    color: white;
    border-radius: 15px 15px 0 15px;
    margin-right: 5px;
    margin-left: auto;
    max-width: calc(100%-130px);
}
.incoming{
    display: flex;
}
.incoming .details{
    display: flex;
    align-items: flex-start;

}
.incoming img{
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: 20px;


}
.incoming .details p{
    background-color: #ddd;
    color: black;
    border-radius: 15px 15px 15px 0;
    margin-right: 35%;
    width: calc(100%-130px);
}


#chat form {
    
    justify-content: space-between;
    min-height: 60px;
    max-height: 175px;
    width: 100%;
    margin-bottom: 25px;

    padding: 10px 20px;

}
#chat form button{
    padding: 5px 10px;
    margin: 5px 0;
    width: 100px;
    height: 50px;
    border-radius: 50px ;
    background: white;
    border: 2px solid #777;
    color: black;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s;
    overflow: hidden;
    img{
        position: relative;
        top: -5px;
        width:50px;
        height: 50px;
    }
}
#chat form button:hover{
    background-color: black;
    color: white;
    border: 3.5px solid rgba(209, 158, 17,0.8);
    &:hover img{
        filter: invert(100%);
    }


}
.flex-container {
    align-items: center;
    display: flex;
    align-items: flex-start; 
    transition: opacity 0.3s;
}

.flex-item{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: flex-start;
    border:2px solid black ;
    border-radius: 30px;
   
}

textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 35px;
    max-height: 100px;
    padding: 0px;
    margin-top: 5px;
    font-size: 16px;
    resize: none;
    overflow-y: hidden;
    border: none;
}
textarea:focus{
    outline: none;
}
#fileInput{
    display: none;
}


/*finding page*/
#finding{
    height: 100%
}
#finding #options{
    position: fixed;
    display: block;
    top: 110px;
    left: 5px;
    width: 15%;
    min-width: 120px;
    height: 100%;
    padding: 10px;
    margin: 10px;
    min-width: 300px;
    max-width: 450px;
    background-color: rgba(209, 158, 17,0.8);
    border-radius: 10px;
}
#profiles{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 325px;
    padding: 10px;
    padding-top: 0;
    width: 100%;
    height: 95%;
    overflow-y: auto;


}
.profile{
    position: relative;
    width: 220px;
    height: 310px;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 30px;
}
.profile img{
    width: 200px;
    height: 200px;
    border-radius: 30px;

}
.profile p{
    font-size: 20px;
    padding: 10px;
    border-bottom: 2px solid black;
}
.profile .buttons form{
    display: flex;

}
.profile .buttons form .button{
    display: block;
    text-align: center;
    margin: 5px;
    width: 100px;
    height: 40px;
    border: none;
    background-color: unset;
    font-size: 16px;
    border-radius: 20px;
    transition: all 0.3s;
}
.profile .buttons form .button:hover{
    background-color: #ddd;
}
.profile .buttons form .button:active{
    background-color: #333;
    color: white;
}

#profile_id{
    display: none;
}
/*profil site*/
.prof{
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;

}
.prof::-webkit-scrollbar{
    width:0px;
}
.prof .bar{
    position: fixed;
    width: 390px;
    height: 100%;

    border: 2px solid #eee;
    padding: 15px;
    border-radius: 7.5px  7.5px 0 0;
    border-bottom: none;
    margin-left: 5px;
    margin-right: 5px;

}
.prof .bar button{
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(209, 158, 17);
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.prof .bar .friends{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}
.prof .bar .friends a{
    width: 100px;
    margin: 0px;
    overflow: hidden;

}
.prof .bar .friends a img{
    width: 100%;

}
.prof .bar .profildata{
    padding: 15px;
    font-size: 12px;

}
.prof .sections{
    min-width: 70%;
    margin-right: 10px;
    margin-left: 410px;
}
.prof .sections .header{
    position: relative;
    width:100%;
    
    
}
.prof .sections .header .cont {
    min-width: 100%;
    height: 30%;
    min-height: 250px;
    max-height: 450px;
    position: relative;
    overflow: hidden;
    border-radius: 7.5px;
    background-color: rgba(128, 128, 128, 0.541);

}
.prof .sections .header .cont #bcimage{
    height: 100%;
    position: relative;
    top: -150px;
}
.prof .sections .header .details{
    position: relative;
    top: -50px;
    display: flex;
    align-items: center;
    background-color: white;
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
    border-top: 5px solid #333;
}
.prof .sections .header .details h1 p{
    font-size: 16px;
    color: grey;
}
.prof .sections .header .details button{
    margin-left: auto;
    margin-right: 20px;
    background-color: rgb(209, 158, 17);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    transition: all,0.3s;
}
.prof .sections .header .details button:hover{
    background-color: rgba(209, 158, 17,0.7);
    color: black;
}
.prof .sections .header .details button:active{
    background-color: rgba(209, 158, 17,0);
    border: 2px solid rgb(209, 158, 17);

}
.prof .sections .header .details .profimg{
    height: 180px;
    width: 180px;
    overflow: hidden;
    margin: 5px;
    border-radius: 50%;
    border: 5px solid rgba(0,0,0,0.7);
}
.prof .sections .header .details .profimg img{
    max-height: 100%;
    border-radius: 8px;
}
.prof .sections .header .details .profilname{
    margin-left: 20px;
    margin-top: 15px;
}

/* post page*/
.home{
    flex-direction: column;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.form{
    border: 2px solid black;

    border-radius: 20px;
    padding: 15px;
}
.form .textarea{
    border: 2px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 5px 20px;
}
.form .buttons{
    display: flex;
    width: 100%;
}
.form .buttons button{
    border: none;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(209, 158, 17);
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.form .buttons button:hover{
    border: none;
    width: 50%;
    height: 40px;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(199, 150, 16);

}

.posts{
    position: relative;
    width:50%;
}
.posts .post{
    
    width: 100%;
    margin-top: 25px;
    border: 3px solid #333;
    border-radius: 20px;
    padding: 15px;
    
}
.posts .post .header{
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
.posts .post .header img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 2px solid black;
    margin: 5px;
    margin-right: 20px;

}
.posts .post .header h1{
    font-size: 20px;
}
.posts .post .postimg{
    overflow: hidden;
    height: 70%;
    max-height: 500px;

}
.posts .post p{
    min-height: 30px;
    margin: 10px;

}
.posts .post .postimg img{
    width: 100%;

}
.posts .post .footer{
    min-height: 70px;
}
.posts .post .footer textarea{
   border: 2px solid black;
   border-radius: 30px;
   padding: 10px;
   padding-left: 20px;
   
}
.posts .post .footer .button{
    display: flex;
    width: 100%;
    justify-content: center;
}
.posts .post .footer .button button{
    width: 25%;
    height: 40px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 20px;
    border:none;
    font-size: 16px;
    background-color: unset;
}
.posts .post .footer .button label{
    width: 25%;
    margin-left: 1%;
    margin-right: 1%;
}

.posts .post .footer .button label button{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border:none;
    font-size: 16px;
    background-color: unset;
}
.posts .post .footer .button button:hover{
    background-color: #ddd;
}
/* settings page */
#settings{
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.438);
    z-index: 4;
}
#settings iframe{
    position: absolute;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    background-color: white;
    border-radius: 40px;
    border:none;
}
.settings{
    display: flex;
}
.settings .header{
    position: fixed;
    height: 100%;
    width: 250px;
    flex-direction: column;
    background-color: #333;

}

.settings .header .navigation{
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    
    padding: 0;
    padding-bottom: 50px;
    justify-content: end;
}
.settings .header .navigation .setlink{
    text-decoration: none;
    border-radius: 30px 0 0 30px;
    padding: 10px;
    margin-left: 20px;
    color: white;
    font-size: 20px;

}
.settings .header .navigation .setlink:hover{
    background-color: rgb(209, 158, 17);

}
.settings .setsite{
    margin-left: 280px;
    padding: 10px;
    padding-top: 40px;
}
/*Account settigs*/
.detsite {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
}
.detsite h1{
    margin-bottom: 40px;
}

.detsite label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
.detsite input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.detsite input[type="submit"] {
    background-color: rgb(209, 158, 17);
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.detsite input[type="submit"]:hover {
    background-color: rgb(167, 126, 14);
}
.detsite .button {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.detsite .button button {
    background-color: rgb(209, 158, 17);
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    width: 50%;
}
.detsite #profimg{
    margin-left: 0;
}
.detsite #bcimg{
    margin-right: 0;
}
.detsite .button button:hover{
    background-color: rgb(167, 126, 14);
}
/*image site*/

.imgsite {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;

    
}

.imgsite h1 {
    margin-bottom: 40px;
}

.imgsite #imageInput {
    display: none;
}

.imgsite #preview {
    text-align: center;
    position: relative;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 150px;
    border: 2px solid #333;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


.imgsite #preview img {
    max-height: 100%;
    border-radius: 8px;
}

.imgsite label {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    background-color: rgb(209, 158, 17);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.imgsite label:hover {
    background-color: rgb(167, 126, 14);
}

.imgsite #submitBtn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(209, 158, 17);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.imgsite #submitBtn:hover {
    background-color: rgb(167, 126, 14);
}